.message{data: {message: {id: message.id}}}
  - if message.user_id == current_user.id
    .right-message
      .right-message__body
        - if message.message_image.present?
          .right-message__image
            = image_tag message.message_image.url
        .right-message__text
          = message.message_text
        .right-message__created-at
          = message.created_at.strftime("%m月%d日 %H時%M分")
          = link_to group_message_path(message.group_id, message.id), method: :delete, data: {confirm: "削除しますか？"}, class: "delete-btn" do
            %i.far.fa-times-circle
              削除
      .right-message__user
        .right-message__user-image
          - if message.user.user_image.present?
            = image_tag message.user.user_image.url
          - else
            .right-message__user-image
              = image_tag 'avatar.png'
        .right-message__user-nickname
          = message.user.nickname
  - else
    .left-message
      .left-message__user
        .left-message__user-image
          - if message.user.user_image.present?
            = image_tag message.user.user_image.url
          - else
            .right-message__user-image
              = image_tag 'avatar.png'
        .left-message__user-nickname
          = message.user.nickname
      .left-message__body
        - if message.message_image.present?
          .left-message__image
            = image_tag message.message_image.url
        .left-message__text
          = message.message_text
        .left-message__created-at
          = message.created_at.strftime("%m月%d日 %H時%M分")
  