%header
  = render 'layouts/main-header'
.form-container
  .account-page
    %h2.account-page__title 新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      %section.account-page__section
        = f.label :nickname, "ニックネーム(20字以内)", class: "account-page__label"
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname", class: "account-page__input"
      %section.account-page__section
        = f.label :email, "メールアドレス", class: "account-page__label"
        %br/
        = f.email_field :email, autocomplete: "email", class: "account-page__input"
      %section.account-page__section
        = f.label :password, class: "account-page__label"
        - if @minimum_password_length
          %em
            (#{@minimum_password_length}字以上)
        %br/
        = f.password_field :password, autocomplete: "new-password", class: "account-page__input"
      %section.account-page__section
        = f.label :password_confirmation, class: "account-page__label"
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", class: "account-page__input"
      %section.account-page__section
        = f.submit "アカウント登録", class: "account-page__submit-btn transform-btn"
    = render "devise/shared/links"
%footer
  = render 'layouts/main-footer'
