.main-container
  .recipe-contents
    .recipe-contents__header
      .recipe-contents__title
        %h2 レシピを探そう！
      .recipe-contents__search
        = form_tag(search_recipes_path, method: "get") do
          = text_field_tag :keyword, '', class: 'search-form', placeholder: "美味しいを探してみよう！"
          %label(for="search-btn")
            %button
              %i.fas.fa-search
            = submit_tag "", class: "hidden", id: "search-btn"
      .recipe-contents__description
        %p 自分で作れば美味しさ倍増！
        %p 今日のシェフは君だよ
        %p さあ、家族を喜ばせちゃおう♪
      .recipe-contents__category
        %span カテゴリー：
        .recipe-contents__categoryLink
          = link_to "お菓子", "#"
        .recipe-contents__categoryLink
          = link_to "パン", "#"
        .recipe-contents__categoryLink
          = link_to "料理", "#"
    .recipe-contents__items
      .recipe-contents__sectionTitle
        新着投稿
      .recipe-contents__body
        - @recipes.each do |recipe|
          = render partial: "pages/recipe-item", locals: {recipe: recipe}
      = paginate(@recipes)
    