= play.likes.length
%span liked
- if Like.find_by(user_id: current_user.id, play_id: play.id)
  = link_to "/plays/#{play.id}/likes", method: :delete, remote: true do
    %i.fas.fa-heart.destroy
      いいね!を取り消す
- else
  = link_to "/plays/#{play.id}/likes", method: :post, remote: true do
    %i.far.fa-heart.create
      いいね!する
