= form_for group do |f|
  - if group.errors.any?
    %p= "#{group.errors.full_messages.count}件のエラーが発生しました。"
    %ul
      - group.errors.full_messages.each do |message|
        %li= message
  = f.label :group_name
  = f.text_field :group_name, placeholder: "グループ名を入力してください"
  = f.label :user_ids, "グループメンバー"
  = f.collection_check_boxes :user_ids, User.all, :id, :nickname
  = f.submit "作成"