%header
  = render 'layouts/main-header'
  = render 'layouts/search-header'
= render 'layouts/nav-header'
.main-container
  .play-contents
    .play-contents__items
      .play-contents__sectionTitle
        %span.border -----
        %i.far.fa-heart
          いいね！した投稿
        %span.border -----
      .play-contents__body
        - @likes.each do |like|
          - play = Play.find_by(id: like.play_id)
          = render partial: "pages/play-item", locals: {play: play}
      = paginate(@likes)
  .recipe-contents
    .recipe-contents__items
      .recipe-contents__sectionTitle
        %span.border -----
        %i.far.fa-folder
          保存したレシピ
        %span.border -----
      .recipe-contents__body
        - @myrecipes.each do |myrecipe|
          - recipe = Recipe.find_by(id: myrecipe.recipe_id)
          = render partial: "pages/recipe-item", locals: {recipe: recipe}
      = paginate(@myrecipes)
%footer
  = render 'layouts/main-footer'