%header
  = render 'layouts/main-header'
  = render 'layouts/search-header'
= render 'layouts/nav-header'
.main-container
  .user-page
    = render partial: 'user-header', locals: {user: @user}
    .tab-section
      .tab-section__tab
        =link_to "トップ", user_path(@user.id)
      .tab-section__tab.active
        =link_to "遊び", "/users/#{@user.id}/show_plays"
      .tab-section__tab
        = link_to "レシピ", "/users/#{@user.id}/show_recipes"
    .user-page__contents
      .play-contents
        .play-contents__items
          .play-contents__sectionTitle
            %span.border -----
            %i.fas.fa-paper-plane
              遊び 投稿
            %span.border -----
          .play-contents__body
            - @plays.each do |play|
              = render partial: "pages/play-item", locals: {play: play}
          .play-contents__more
            = paginate(@plays)
%footer
  = render 'layouts/main-footer'