%header
  = render 'layouts/main-header'
  = render 'layouts/search-header'
= render 'layouts/nav-header'
.main-container
  .user-page
    .user-page__header
      .user-page__image
        - if @user.user_image.present?
          = image_tag @user.user_image
        -else
          = image_tag "avatar.png"
      = render partial: 'relationships/follow_button', locals: {user: @user}
      .user-page__plofile
        .user-page__nickname
          = @user.nickname
          %span さんのページ
        .user-page__introduction
          = @user.user_introduction
        .user-page__follow
          = @user.followings.length
          %span フォロー
          = @user.followers.length
          %span フォロワー
        -if user_signed_in? && current_user.id == @user.id
          .user-page__editBtn
            = link_to edit_user_registration_path do
              アカウント編集はこちら
          .user-page__logoutBtn
            = link_to destroy_user_session_path, method: :delete do
              %i.fas.fa-sign-out-alt
                ログアウト
    .tab-section
      .tab-section__tab.active
        =link_to "トップ", user_path(current_user.id)
      .tab-section__tab
        =link_to "遊び", "/users/#{@user.id}/show_plays"
      .tab-section__tab
        = link_to "レシピ", "/users/#{@user.id}/show_recipes"
    .user-page__contents
      .play-contents
        .play-contents__items
          .play-contents__sectionTitle
            %span.border -----
            %i.fas.fa-paper-plane
              遊び 投稿
            %span.border -----
          .play-contents__body
            - @plays.each do |play|
              = render partial: "pages/play-item", locals: {play: play}
          .play-contents__more
            = link_to "もっと見る", "/users/#{@user.id}/show_plays"
      .recipe-contents
        .recipe-contents__items
          .recipe-contents__sectionTitle
            %span.border -----
            %i.fas.fa-utensils
              レシピ・投稿
            %span.border -----
          .recipe-contents__body
            - @recipes.each do |recipe|
              = render partial: "pages/recipe-item", locals: {recipe: recipe}
          .recipe-contents__more
            = link_to "もっと見る", "/users/#{@user.id}/show_recipes"
%footer
  = render 'layouts/main-footer'
