.main-container
  .hero
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag 'hero_01.png'
          .hero__title
            Let's Play! おうちで遊ぼう
        .swiper-slide
          = image_tag 'hero_02.png'
          .hero__title
            Let's Cooking! 家族と作ろう
        .swiper-slide
          = image_tag 'hero_03.png'
          .hero__title
            Let's Share! みんなで話そう
        .swiper-slide
          = image_tag 'top-logo.png'
  .main-contents
    - @plays.each do |play|
      = link_to play_path(play.id) do
        = play.play_title
    - @recipes.each do |recipe|
      = link_to recipe_path(recipe.id) do
        = recipe.recipe_title
    .section-title.appear.up
      .appear-item
        タイトル
    .appear.up
      .appear-item
        = image_tag 'hero_01.png'
    .appear.up
      .appear-item
        = image_tag 'hero_01.png'
  