%header
  = render 'layouts/main-header'
  = render 'layouts/search-header'
= render 'layouts/nav-header'
.main-container
  .hero
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag 'hero_01.png'
          .hero__title
            = link_to plays_path do
              Let's Play! おうちで遊ぼう
        .swiper-slide
          = image_tag 'hero_02.png'
          .hero__title
            = link_to recipes_path do
              Let's Cooking! 家族と作ろう
        .swiper-slide
          = image_tag 'hero_03.png'
          .hero__title
            = link_to groups_path do
              Let's Share! みんなで話そう
        .swiper-slide
          = image_tag 'top-logo.png'
  .main-contents
    .ranked-items.appear.up
      .rankedItems-playContainer.appear-item
        .rankedItems-playContainer__title
          %span.border ---
          人気の遊び・工作
          %span.border ---
        .rankedItems-playContainer__body
          - if @ranked_plays[0].present? && @ranked_plays[1].present? && @ranked_plays[2].present?
            = render partial: "ranked-play", locals: {ranked_plays: @ranked_plays}
          - else
            %p ランキングはまだありません
      .rankedItems-recipeContainer.appear-item
        .rankedItems-recipeContainer__title
          %span.border ---
          人気のレシピ
          %span.border ---
        .rankedItems-recipeContainer__body
          - if @ranked_recipes[0].present? && @ranked_recipes[1].present? && @ranked_recipes[2].present?
            = render partial: "ranked-recipe", locals: {ranked_recipes: @ranked_recipes}
          - else
            %p ランキングはまだありません
    .new-items.appear.up
      .newItems-playContainer.appear-item
        .newItems-playContainer__title
          %span.border -----
          = image_tag '子供達.png', height: "50px", width: "60px"
          遊び・新着投稿
          %span.border -----
        .newItems-playContainer__body
          - @plays.each do |play|
            = render partial: "play-item", locals: {play: play}
        .newItems-playContainer__more
          = link_to "もっと見る", plays_path
      .newItems-recipeContainer.appear-item
        .newItems-recipeContainer__title
          %span.border ----
          = image_tag 'フライパン.png', height: "50px", width: "50px"
          レシピ・新着投稿
          %span.border ----
        .newItems-recipeContainer__body
          - @recipes.each do |recipe|
            = render partial: "recipe-item", locals: {recipe: recipe}
        .newItems-recipeContainer__more
          = link_to "もっと見る", recipes_path
%footer
  = render 'layouts/main-footer'