.main-container
  .hero
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          = image_tag 'hero_01.png'
          .hero__title
            Let's Play! おうちで遊ぼう
        .swiper-slide
          = image_tag 'hero_02.png'
          .hero__title
            Let's Cooking! 家族と作ろう
        .swiper-slide
          = image_tag 'hero_03.png'
          .hero__title
            Let's Share! みんなで話そう
        .swiper-slide
          = image_tag 'top-logo.png'
  .main-contents
    .new-items.appear.up
      .newItems-playContainer.appear-item
        .newItems-playContainer__title
          %span.border -----
          遊び・新着投稿
          %span.border -----
        .newItems-playContainer__body
          - @plays.each do |play|
            = render partial: "play-item", locals: {play: play}
        
        .newItems-playContainer__more
          = link_to plays_path do
            もっと見る
      .newItems-recipeContainer.appear-item
        .newItems-recipeContainer__title
          %span.border ----
          レシピ・新着投稿
          %span.border ----
        .newItems-recipeContainer__body
          - @recipes.each do |recipe|
            = render partial: "recipe-item", locals: {recipe: recipe}
        .newItems-recipeContainer__more
          = link_to recipes_path do
            もっと見る