.mobile-menu
  .mobile-menu__logo
    .logo
      = image_tag 'logo.png'
  - if user_signed_in?
    %ul.mobile-menu__main
      %li.mobile-menu__item
        = link_to new_play_path do
          %i.fas.fa-paper-plane
            遊び・作る 投稿
      %li.mobile-menu__item
        = link_to new_recipe_path do
          %i.fas.fa-utensils
            レシピ 投稿
      %li.mobile-menu__item
        = link_to user_path(current_user.id) do
          %i.fas.fa-user-circle
            マイページ
      %li.mobile-menu__item
        = link_to edit_user_registration_path do
          %i.fas.fa-cog
            アカウント編集
      %li.mobile-menu__item
        = link_to destroy_user_session_path, method: :delete do
          %i.fas.fa-sign-out-alt
            ログアウト
      %li.mobile-menu__item
        = link_to pages_guide_path do
          %i.fas.fa-question-circle
            使い方ガイド
  - else
    %ul.mobile-menu__main
      %li.mobile-menu__item
        = link_to new_user_registration_path do
          %i.fas.fa-registered
            新規登録
      %li.mobile-menu__item
        = link_to new_user_session_path do
          %i.fas.fa-sign-in-alt
            ログイン
      %li.mobile-menu__item
        = link_to "#" do
          %i.fas.fa-question-circle
            使い方ガイド