.mobile-menu
  .mobile-menu__logo
    .logo
      = image_tag 'logo.png'
  %ul.mobile-menu__main
    %li.mobile-menu__item
      = link_to "#" do
        %i.fas.fa-paper-plane
          遊び・作る 投稿
    %li.mobile-menu__item
      = link_to "#" do
        %i.fas.fa-utensils
          レシピ 投稿
    %li.mobile-menu__item
      = link_to "#" do
        %i.fas.fa-user-circle
          マイページ
    %li.mobile-menu__item
      = link_to "#" do
        %i.fas.fa-cog
          アカウント編集
    %li.mobile-menu__item
      = link_to "#" do
        %i.fas.fa-sign-out-alt
          ログアウト